@model QuizViewModel

    <form asp-action="PlayGame">


        <h2>Question:</h2>
        <i>@Model.QuestionStatement</i>
        <br />
        @foreach (string answer in @Model.Answers)
        {
            <input type="radio" name="response" value="@answer" id="response" />@answer<br />
        }
        
        <input type="submit" asp-action="PlayGame" asp-route-newGame="false" value="Next" />
        @*<input type="hidden" value="@Model.toJson()" name="json" />*@

        <input type="submit" value="Finish" />
    </form>